
.thumbnail-image{
  z-index: 0;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.thumbnail-container{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid rgba(0,0,0,.125);
  position: relative;
  overflow: hidden;
  margin: 5px;
}
