.fb-icon.btn{
  background-color:#4267b2 !important;
  background-size:cover;
  border: none !important;
  max-height: 50px !important;
}
 .sign-in-card{
   min-width: 200px !important;
   margin-top: 5px !important;
 }
