body{
  font-size: .75em !important;
  /* background: #fffdd0 !important; */
}

textarea{
  resize: none;
}

.card-img, .cardBody{
  border-radius: 0px;
}

.card {
  margin-top: 15px;
}

.card-img{
  margin: 0 !important;
  padding: 0 !important;
  border-top: 1px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.btn{
  font-size: 12px !important;
}
