body{
  font-size: .75em !important;
  /* color: #A0522D !important;
  background: #F5F5DC !important; */
}

textarea{
  resize: none;
}

.card-img, .cardBody{
  border-radius: 0px;
}

.card {
  margin-top: 15px;
}

.card-img{
  margin: 0 !important;
  padding: 0 !important;
  border-top: 1px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.btn{
  font-size: 12px !important;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.flex-item {
  text-align: center;
}
.flex-center{
  align-items: center;
}

.flex-left{
  justify-content: flex-start !important;
}

.clear-style{
  margin: 0 !important;
  padding: 0 !important;
}

textarea{
  resize: none !important;
}
